@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 2em 5em 0 5em;
}

.logo_text {
  font-size: 20px;
  text-decoration: none;
  color: black;
}

.navbar_links {
  display: flex;
}

.text_1 {
  padding: 0 1em;
  font-size: 15px;
}

.navbar_link {
  font-size: 15px;
  text-decoration: none;
  color: black;
  margin-left: 0.5em;
}

.navbar_link:hover,
.logo_text:hover {
  color: rgb(0, 102, 255);
  font-weight: bold;
  transition: 0.2s ease;
}

/* First page links */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.text_2 {
  padding: 1em 0em;
  font-size: 18px;
}

.rooms {
  text-align: center;
}

.room_link {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 35px;
}

/* Sign-up and sign-in */

h1 {
  padding: 1.5em 0 0 2.5em;
}

form {
  padding-left: 10em;
  padding-top: 5em;
}

.inputs {
  display: flex;
  gap: 50px;
}

input {
  margin-top: 1em;
  outline: none;
}

.password {
  margin-top: 2em;
}

.btn {
  margin-top: 5em;
  padding: 1em;
  border: none;
  font-size: 17px;
  background-color: white;
  border: 2px solid rgb(14, 82, 183);
  border-radius: 10px;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(14, 82, 183);
  color: white;
  transition: 0.5s ease;
}

.btn_2 {
  padding: 1em 2em 1em 2em;
}
