@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 5em 1.5em 5em;
  background-color: rgb(112, 210, 223);
}

.logo_text {
  font-size: 20px;
  text-decoration: none;
  color: black;
}

.navbar_links {
  display: flex;
}

.text_1 {
  padding: 0 1em;
  font-size: 16px;
}

.navbar_link {
  font-size: 16px;
  text-decoration: none;
  color: black;
}

.sign_in_link {
  margin-left: 0.5em;
}

.navbar_link:hover,
.logo_text:hover {
  color: rgb(255, 255, 255);
}

.room:hover {
  font-weight: bold;
}

/* First page links */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.text_2 {
  padding: 1em 0em;
  font-size: 18px;
}

.rooms {
  text-align: center;
}

.room_link {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 35px;
}

/* Sign-up and sign-in */

h1 {
  padding: 1.5em 0 0 2.5em;
}

form {
  padding-left: 10em;
  padding-top: 5em;
}

.inputs {
  display: flex;
  gap: 50px;
}

input {
  margin-top: 1em;
  outline: none;
}

.password {
  margin-top: 2em;
}

.btn {
  margin-top: 5em;
  padding: 1em 2em;
  border: none;
  font-size: 17px;
  color: black;
  background-color: white;
  border: 2px solid rgb(14, 82, 183);
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
}

.btn:hover {
  background-color: rgb(14, 82, 183);
  color: white;
  transition: 0.5s ease;
}

.btn_container {
  margin-top: 5em;
}

.btn_2 {
  padding: 1em 2em 1em 2em;
}

.register {
  padding: 1em;
}

/* Book rooms 1 */

.room_types {
  margin: 4em 0 0 7em;
}

.heading {
  margin-bottom: 2em;
}

.room {
  margin-bottom: 1em;
  background-color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

/* Search rooms */

.img {
  width: 400px;
  padding: 3em 0 0 5em;
}

.room_card {
  display: flex;
  gap: 50px;
}

.room_description {
  margin-top: 3em;
}

.available {
  margin-top: 1em;
}

.price {
  margin-top: 6em;
}

.search_elements {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

select,
.search {
  padding: 0.9em;
  font-size: 14px;
  cursor: pointer;
  border-radius: 10px;
}

select {
  margin-top: 2em;
  outline: none;
  background-color: rgb(220, 130, 0);
  color: white;
  border: none;
  font-size: 15px;
  padding: 1em;
}

option {
  background-color: rgb(59, 59, 59);
}

#space {
  margin-left: 2em;
  margin-right: 10em;
}

.room_type_links {
  display: flex;
}

.link_1 {
  margin-left: 3em;
  text-decoration: none;
  color: black;
}

.link_2 {
  margin-left: 1em;
}

.link_1,
.link_2 {
  font-size: 14px;
  margin-top: 0.2em;
  cursor: pointer;
}

.link_1:hover,
.link_2:hover {
  color: red;
}

/* Room Overview */

.price_1 {
  margin-bottom: 3em;
}

.btn_1 {
  padding: 1em;
}

.img_1 {
  height: 350px;
  width: 550px;
}

.calendar_container {
  margin-top: 4em;
}

.highlight {
  color: rgb(32, 163, 32);
}

/* Book rooms 2*/

.calendar_container_1 {
  margin: 5em 0 0 8em;
}

.calendar {
  margin: 2em 0 4em 0;
}

.room_type {
  margin-bottom: 0.5em;
}

.time {
  margin-top: 1.5em;
}
